body,html{
  height:100%;
}
.img{
  height:200px;
  width:200px;
}
.card-group{
  margin-top:20px;
  margin-bottom:20px;
}
.card-container:hover{
border-color: #000000;
}
.custom-text{
  opacity: 60%;
}
footer{
 border-radius: 10px;
  padding:30px;
  width:100%;
  
}
.title{
  margin-left: 20px;
  margin-top: 30px;
  color:red;
}
.title:hover{
  color:#000000;
}