.home-section{
  margin:10px;
}
.offer-section{
  background-color: #80808030;
  padding:20px 0px;
}
.contact-section{
  background-color: #80808030;
  padding:20px 0px;
}
.banner{
  color:white
}
.custom-navbar {
  background-color: black;
}

.custom-navbar .nav-link {
  color: white;
}

.custom-navbar .navbar-brand {
  color: white;
}
.small-image {
  width: 150px;
  height: auto;
}
.customer-submit{
 margin:20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #80808030;
  border-radius: 10px;
}

.order{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width:400px;
  margin:50px;
  background-color: #ff000060;
  border-radius: 50%;
}

.card-content {
  height: 200px; /* Adjust the height as needed */
}

.card-content img {
  height: 100%; /* Ensure the image fills the container */
  object-fit: cover; /* Preserve aspect ratio and fill the container */
}
